<!-- app/views/reservations/edit.html.erb -->
<h1>Edit Reservation</h1>

<%= form_with(model: @reservation, local: true) do |form| %>
  <% if current_user.customer? %>
    <div>
      <%= form.label :reservation_time %>
      <%= form.datetime_select :reservation_time %>
    </div>

    <div>
      <%= form.label :party_size %>
      <%= form.number_field :party_size %>
    </div>
  <% elsif current_user.restaurant_user? %>
    <div>
      <%= form.label :status %>
      <%= form.select :status, [['Pending', 'pending'], ['Accepted', 'accepted'], ['Confirmed', 'confirmed'], ['Canceled', 'canceled']] %>
    </div>
  <% end %>

  <div>
    <%= form.submit 'Update Reservation', class: 'btn btn-primary' %>
  </div>
<% end %>

<%= link_to 'Back', my_reservations_path, class: 'btn btn-secondary' %>
