<!DOCTYPE html>
<html>
<head>
  <title>LOGO</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>
<body>
<div class="container-fluid">
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">
        <h3>LOGO</h3>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/users/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/reservations">My Reservations</a>
          </li>
          <!-- Add more navigation items as needed -->
        </ul>

        <form class="d-flex">
          <% if !user_signed_in? %>
            <a class="btn btn-outline-primary mr-2" href="/users/sign_in">Login</a>
            <a class="btn btn-outline-success" href="/users/sign_up">Sign Up</a>
          <% else %>
            <%= current_user.username %>
            <%= link_to 'Sign out', destroy_user_session_path, class:"btn btn-outline-success"%>
          <% end %>
        </form>
      </div>
    </div>
  </nav>
</div>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
